* {
	margin: 0;
}

.cards-wrapper {
	display: grid;
  /* Importante setear el tamaño de las columnas y las rows, para que al poner los position absolute y relative, nada pierda su tamañano. */
	grid-template-columns: repeat(3, 200px); 
	grid-template-rows: repeat(3, 300px);
	justify-content: center;
	margin-inline: auto;
	gap: 25px;
	border: 1px solid red;
	width: 50vw;
}

.card {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: all 800ms ease;
	transform-style: preserve-3d;
	height: 100%;
	width: 100%;
}

.card:hover {
	transform: rotateY(180deg);
	cursor: pointer;
}

.front,
.back {
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
}

.back {
	transform: rotateY(180deg);
}

.back img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}
